<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateSpyToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate spy to pasteboard</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateStubToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate stub to pasteboard</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateDummyToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate dummy to pasteboard</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>AddTearDownMethod</string>
					<key>XCSourceEditorCommandName</key>
					<string>Add tearDown method to tests</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
</dict>
</plist>
