<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rubicon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11.3</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateSpy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private spy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateSpyToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate spy to pasteboard</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateStub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private stub</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateStubToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate stub to pasteboard</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePublicDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate public dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GeneratePrivateDummy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate private dummy</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Generate</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>GenerateDummyToPasteboard</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate dummy to pasteboard</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Kryštof Matěj. All rights reserved.</string>
</dict>
</plist>
